.para{
    text-align: center;
    justify-content: center;
    text-shadow: transparent;
    padding-top: 16rem;
    font-size: 50px;
    color: black;
   text-shadow: black;
   text-align: start;

}

